@model Labixa.Areas.Portal.ViewModels.CostCategory.CostCategorySubMenuViewModel
@{ 
    var count = Enum.GetValues(typeof(Outsourcing.Data.Models.HMS.CostType)).Length + 1;
    string nameType = string.Empty;
}
<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="icon-list"></i>
        <span class="menu-text">
            <i class="fa fa-money"></i>
            Quản lý Chi Phí
            <span class="badge badge-primary ">@count</span>
        </span>
        <b class=""></b>
    </a>
    <ul class="submenu" style="overflow: hidden; display: none;">
        <li>
            <a href="@Url.Action("Index", "Costs")">
                <i class="icon-double-angle-right"></i>
                Tất Cả
            </a>
        </li>
        @foreach (Outsourcing.Data.Models.HMS.CostType item in Enum.GetValues(typeof(Outsourcing.Data.Models.HMS.CostType)))
        {
            switch (item)
            {
                case Outsourcing.Data.Models.HMS.CostType.Others:
                    nameType = "Others";
                    break;
                case Outsourcing.Data.Models.HMS.CostType.Income:
                    nameType = "Thu";
                    break;
                case Outsourcing.Data.Models.HMS.CostType.Outcome:
                    nameType = "Chi";
                    break;
            }
            <li>
                <a href="@Url.Action("Index", "Costs", new {costType = item})">
                    <i class="icon-double-angle-right"></i>
                    @nameType
                </a>
            </li>
        }

    </ul>
</li>