


  <!-- Header  Inner style-->
<section class="row final-inner-header">
    <div class="container">
        <h2 class="this-title">Activity</h2>
    </div>
</section>
<section class="row final-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="family-fun.html" class="active">Activities</a></li>
        </ol>
    </div>
</section>
<!-- Booking style-->
<!-- Family Fun style-->
<section class="container clearfix common-pad-inner about-info-box">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="sec-header3">
                <h2>Family Fun</h2>
                <h3>Pick a room that best suits your taste and budget</h3>
            </div>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dqAolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit. Neque porro quisquam est, qui dolorem ipsum quia dqAolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniamNeque porro quisquam est, qui dolorem ipsum quia dqAolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
    </div>
</section>
<!-- Family Fun style-->
<!-- Family Fun style-->
<section class="clearfix news-wrapper">
    <div class="container clearfix common-pad-room1">
        <div class="row">
            <div class="family-outer">
                <div class="col-lg-8 col-md-8 col-xs-12 pull-left family-img family-img-page">
                    <div class="image-gallery ntracing-images hidden" style="position: relative; height: 0px;">
                        <div class="single-gallery anim-5-all masonryImage span-4" style="position: absolute; left: 0px; top: 0px;">
                            <div class="img-holder hover"><a data-imagelightbox="a" rel="help" href="images/family-fun/1.jpg"><img src="~/Content/HMS/images/family-fun/1.jpg" alt=""></a></div>
                        </div>
                        <div class="single-gallery anim-5-all masonryImage span-4" style="position: absolute; left: 0px; top: 0px;">
                            <div class="img-holder hover"><a data-imagelightbox="a" rel="help" href="images/family-fun/2.jpg"><img src="~/Content/HMS/images/family-fun/2.jpg" alt=""></a></div>
                        </div>
                        <div class="single-gallery single-r-gallery anim-5-all masonryImage span-4" style="position: absolute; left: 0px; top: 0px;">
                            <div class="img-holder hover"><a data-imagelightbox="a" rel="help" href="images/family-fun/5.jpg"><img src="~/Content/HMS/images/family-fun/5.jpg" alt=""></a></div>
                        </div>
                        <div class="single-gallery anim-5-all masonryImage span-4" style="position: absolute; left: 0px; top: 0px;">
                            <div class="img-holder hover"><a data-imagelightbox="a" rel="help" href="images/family-fun/3.jpg"><img src="~/Content/HMS/images/family-fun/3.jpg" alt=""></a></div>
                        </div>
                        <div class="single-gallery anim-5-all masonryImage span-4" style="position: absolute; left: 0px; top: 0px;">
                            <div class="img-holder hover"><a data-imagelightbox="a" rel="help" href="images/family-fun/4.jpg"><img src="~/Content/HMS/images/family-fun/4.jpg" alt=""></a></div>
                        </div>
                    </div>
                    <div class="image-gallery ntracing-images" style="position: relative; height: 430px;"><a data-imagelightbox="a" rel="next" href="images/family-fun/6.jpg" class="single-gallery ff-270" style="position: absolute; left: 0px; top: 0px;"><img src="~/Content/HMS/images/family-fun/1.jpg" alt=""></a><a data-imagelightbox="a" rel="next" href="images/family-fun/6.jpg" class="single-gallery ff-270" style="position: absolute; left: 280px; top: 0px;"><img src="~/Content/HMS/images/family-fun/2.jpg" alt=""></a><a data-imagelightbox="a" rel="next" href="images/family-fun/6.jpg" class="single-gallery ff-270" style="position: absolute; left: 0px; top: 215px;"><img src="~/Content/HMS/images/family-fun/3.jpg" alt=""></a><a data-imagelightbox="a" rel="next" href="images/family-fun/6.jpg" class="single-gallery ff-270" style="position: absolute; left: 280px; top: 215px;"><img src="~/Content/HMS/images/family-fun/4.jpg" alt=""></a><a data-imagelightbox="a" rel="next" href="images/family-fun/6.jpg" class="single-gallery ff-210" style="position: absolute; left: 560px; top: 0px;"><img src="~/Content/HMS/images/family-fun/5.jpg" alt=""></a></div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 pull-right family-content">
                    <h2>Family Fun</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dqAolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
                    <p>quis nostrum exercitationem ullam corporis suscipit. Neque porro quisquam est, qui dolorem ipsum quia dqAolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniamNeque porro quisquam est, qui dolorem</p>
                </div>
            </div>
            <div class="family-outer">
                <div class="col-lg-8 col-md-8 col-xs-12 family-img family-img-page pull-left">
                    <div class="image-gallery ntracing-images hidden" style="position: relative; height: 0px;">
                        <div class="single-gallery anim-5-all masonryImage span-4" style="position: absolute; left: 0px; top: 0px;">
                            <div class="img-holder hover"><a data-imagelightbox="b" rel="next" href="images/family-fun/6.jpg"><img src="~/Content/HMS/images/family-fun/6.jpg" alt=""></a></div>
                        </div>
                        <div class="single-gallery anim-5-all masonryImage span-4" style="position: absolute; left: 0px; top: 0px;">
                            <div class="img-holder hover"><a data-imagelightbox="b" rel="next" href="images/family-fun/7.jpg"><img src="~/Content/HMS/images/family-fun/7.jpg" alt=""></a></div>
                        </div>
                        <div class="single-gallery single-r-gallery anim-5-all masonryImage span-4" style="position: absolute; left: 0px; top: 0px;">
                            <div class="img-holder hover"><a data-imagelightbox="b" rel="next" href="images/family-fun/8.jpg"><img src="~/Content/HMS/images/family-fun/8.jpg" alt=""></a></div>
                        </div>
                        <div class="single-gallery single-r-gallery anim-5-all masonryImage span-8" style="position: absolute; left: 0px; top: 0px;">
                            <div class="img-holder hover"><a data-imagelightbox="b" rel="next" href="images/family-fun/9.jpg"><img src="~/Content/HMS/images/family-fun/9.jpg" alt=""></a></div>
                        </div>
                    </div>
                    <div class="image-gallery ntracing-images" style="position: relative; height: 430px;"><a data-imagelightbox="b" rel="next" href="images/family-fun/6.jpg" class="single-gallery ff-210" style="position: absolute; left: 0px; top: 0px;"><img src="~/Content/HMS/images/family-fun/6.jpg" alt=""></a><a data-imagelightbox="b" rel="next" href="images/family-fun/6.jpg" class="single-gallery ff-270" style="position: absolute; left: 220px; top: 0px;"><img src="~/Content/HMS/images/family-fun/7.jpg" alt=""></a><a data-imagelightbox="b" rel="next" href="images/family-fun/6.jpg" class="single-gallery ff-270" style="position: absolute; left: 500px; top: 0px;"><img src="~/Content/HMS/images/family-fun/8.jpg" alt=""></a><a data-imagelightbox="b" rel="next" href="images/family-fun/6.jpg" class="single-gallery ff-550" style="position: absolute; left: 220px; top: 215px;"><img src="~/Content/HMS/images/family-fun/9.jpg" alt=""></a></div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 pull-right family-content">
                    <h2>Bicycleing Fun</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dqAolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
                    <p>quis nostrum exercitationem ullam corporis suscipit. Neque porro quisquam est, qui dolorem ipsum quia dqAolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniamNeque porro quisquam est, qui dolorem</p>
                </div>
            </div>
            <div class="family-outer">
                <div class="col-lg-8 col-md-8 col-xs-12 family-img family-img-page pull-left">
                    <div class="image-gallery ntracing-images hidden" style="position: relative; height: 0px;">
                        <div class="single-gallery anim-5-all masonryImage span-4" style="position: absolute; left: 0px; top: 0px;">
                            <div class="img-holder hover"><a data-imagelightbox="c" rel="prev" href="images/family-fun/10.jpg"><img src="~/Content/HMS/images/family-fun/10.jpg" alt=""></a></div>
                        </div>
                        <div class="single-gallery single-r-gallery anim-5-all masonryImage span-8" style="position: absolute; left: 0px; top: 0px;">
                            <div class="img-holder hover"><a data-imagelightbox="c" rel="prev" href="images/family-fun/11.jpg"><img src="~/Content/HMS/images/family-fun/11.jpg" alt=""></a></div>
                        </div>
                        <div class="single-gallery anim-5-all masonryImage span-4" style="position: absolute; left: 0px; top: 0px;">
                            <div class="img-holder hover"><a data-imagelightbox="c" rel="prev" href="images/family-fun/12.jpg"><img src="~/Content/HMS/images/family-fun/12.jpg" alt=""></a></div>
                        </div>
                        <div class="single-gallery single-r-gallery anim-5-all masonryImage span-4" style="position: absolute; left: 0px; top: 0px;">
                            <div class="img-holder hover"><a data-imagelightbox="c" rel="prev" href="images/family-fun/13.jpg"><img src="~/Content/HMS/images/family-fun/13.jpg" alt=""></a></div>
                        </div>
                    </div>
                    <div class="image-gallery ntracing-images" style="position: relative; height: 430px;"><a data-imagelightbox="c" rel="next" href="images/family-fun/6.jpg" class="single-gallery ff-210" style="position: absolute; left: 0px; top: 0px;"><img src="~/Content/HMS/images/family-fun/10.jpg" alt=""></a><a data-imagelightbox="c" rel="next" href="images/family-fun/6.jpg" class="single-gallery ff-550" style="position: absolute; left: 220px; top: 0px;"><img src="~/Content/HMS/images/family-fun/11.jpg" alt=""></a><a data-imagelightbox="c" rel="next" href="images/family-fun/6.jpg" class="single-gallery ff-270" style="position: absolute; left: 220px; top: 215px;"><img src="~/Content/HMS/images/family-fun/12.jpg" alt=""></a><a data-imagelightbox="c" rel="next" href="images/family-fun/6.jpg" class="single-gallery ff-270" style="position: absolute; left: 500px; top: 215px;"><img src="~/Content/HMS/images/family-fun/13.jpg" alt=""></a></div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 pull-right family-content">
                    <h2>Enjoy in Water</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dqAolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
                    <p>quis nostrum exercitationem ullam corporis suscipit. Neque porro quisquam est, qui dolorem ipsum quia dqAolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniamNeque porro quisquam est, qui dolorem</p>
                </div>
            </div>
        </div>
    </div>
</section>