<section class="row final-inner-header">
    <div class="container">
        <h2 class="this-title">Activity</h2>
    </div>
</section>
<section class="row final-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="offers.html" class="active">Event</a></li>
        </ol>
    </div>
    <!-- Offers & Deals style-->
    <section class="container clearfix common-pad offer-main">
        <div class="sec-header">
            <h2>Offers & Deals</h2>
            <h3>Pick a room that best suits your taste and budget</h3>
        </div>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
    </section>
    <!-- Offers & Deals style-->
    <div class="offer-deal-dark">
        <section class="container clearfix common-pad offer-main">
            <div class="row">
                <div class="col-lg-5 col-md-6 offer-deal">
                    <div class="img-holder">
                        <img src="~/Content/HMS/images/offer/2.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <p>15%<span>off</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="offer-content">
                        <h2>Winter Season</h2>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit. Red quia numquam eius modi. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
                        <div class="offer-b-main">
                            <div class="offer-b-but"><a href="booking.html" class="res-btn">Book Now</a></div>
                            <div class="offer-b-price">
                                <p>$79<span>Per Night</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Spa Offer-->
    <section class="container clearfix common-pad offer-main">
        <div class="row">
            <div class="col-lg-5 col-md-6 offer-deal">
                <div class="img-holder">
                    <img src="~/Content/HMS/images/offer/3.jpg" alt="" class="img-responsive">
                    <div class="overlay col-pink">
                        <p>15%<span>off</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="offer-content">
                    <h2>Spa Offer</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit. Red quia numquam eius modi. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
                    <div class="offer-b-main">
                        <div class="offer-b-but"><a href="booking.html" class="res-btn">Book Now</a></div>
                        <div class="offer-b-price">
                            <p>$79<span>Per Night</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Spa Offer-->
    <!-- Honeymoon Offer-->
    <div class="offer-deal-dark">
        <section class="container clearfix common-pad offer-main">
            <div class="row">
                <div class="col-lg-5 col-md-6 offer-deal">
                    <div class="img-holder">
                        <img src="~/Content/HMS/images/offer/4.jpg" alt="" class="img-responsive">
                        <div class="overlay col-purple">
                            <p>15%<span>off</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="offer-content">
                        <h2>Honeymoon Offer</h2>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit. Red quia numquam eius modi. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
                        <div class="offer-b-main">
                            <div class="offer-b-but"><a href="booking.html" class="res-btn">Book Now</a></div>
                            <div class="offer-b-price">
                                <p>$125<span>Per Night</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Honeymoon Offer-->
    <!-- Weekend Offer-->
    <section class="container clearfix common-pad offer-main">
        <div class="row">
            <div class="col-lg-5 col-md-6 offer-deal">
                <div class="img-holder">
                    <img src="~/Content/HMS/images/offer/5.jpg" alt="" class="img-responsive">
                    <div class="overlay col-orange">
                        <p>50%<span>off</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="offer-content">
                    <h2>Weekend Offer</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit. Red quia numquam eius modi. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
                    <div class="offer-b-main">
                        <div class="offer-b-but"><a href="booking.html" class="res-btn">Book Now</a></div>
                        <div class="offer-b-price">
                            <p>$99<span>Per Night</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
