@model Outsourcing.Data.Models.Room

@{
    var count = Enum.GetValues(typeof(Outsourcing.Data.Models.RoomType)).Length + 1;
    string nameType = string.Empty;
}

<div class="invisible">
    <button data-target="#sidebar2" data-toggle="collapse" type="button" class="pull-left navbar-toggle collapsed">
        <span class="sr-only">Toggle sidebar</span>

        <i class="ace-icon fa fa-dashboard white bigger-125"></i>
    </button>

    <div id="sidebar2" class="sidebar h-sidebar navbar-collapse collapse ace-save-state">
        <ul class="nav nav-list">
            <li class="hover">
                <a data-toggle="modal" data-target="#phoneModal" onclick="setRoomId(@Model.Id)">
                    <i class="menu-icon fa fa-list-alt"></i>
                    <span class="menu-text">Đặt Phòng</span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover pull-right">
                <a href="@Url.Action("Delete","Rooms", new {id = Model.Id, hotelId = Model.HotelId})">
                    <i class="menu-icon fa fa-list-alt"></i>
                    <span class="menu-text">Xóa Phòng</span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover pull-right">
                <a href="@Url.Action("Edit","Rooms", new {id = Model.Id,hotelId=Model.HotelId})">
                    <i class="menu-icon fa fa-list-alt"></i>
                    <span class="menu-text">Sửa Phòng</span>
                </a>

                <b class="arrow"></b>
            </li>

        </ul><!-- /.nav-list -->
    </div><!-- .sidebar -->
</div>

@using (Html.BeginForm("Create", "RoomOrders", null, FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div id="phoneModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Xin vui lòng nhập số điện thoại</h4>
                </div>
                <div class="modal-body">
                    <input hidden name="roomId" id="txtRoomId" type="text" />
                    @Html.TextBox("phone")
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Search</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    function setRoomId(id) {
        document.getElementById("txtRoomId").value = id;
        console.log(id);
    }
</script>
