@model Labixa.ViewModels.BannerViewModel
<div id="block-scalacblocksectioncontentthebesthotelreservationtheme" class="sca_slider sca_image_bck sca_fixed sca_wht_txt sca_border bg-no-repeat block-bg" data-bg-color="#000000" data-bg-image="@Model.bannerImage.Value">
    <div class="sca_over" data-color="#232323" data-opacity="0.6"></div>
    <div class="container">
        <div class="sca_slide_txt sca_slide_center_middle text-center">
            <p></p>
            <div class="sca_slide_subtitle">@Html.Raw(Model.bannerTitle.Value)</div>
        </div>
    </div>
    <a class="sca_scroll_down sca_go" href="#sca_content">
        <b></b>
        Scroll
    </a>
</div>
