@model Labixa.ViewModels.MenuViewModel
<header>
    <nav class="sca_light_nav sca_transp_nav">
        <div class="container">
            <div id="block-scalac-branding" class="sca_logo_container clearfix">
                 <div class="sca_logo_txt">
                    <a href="/Home/Index" class="sca_logo">@Html.Raw(Model.pageTitle.Value)</a>
                    <div class="sca_logo_und">@Model.pageSlogan.Value</div>
                </div>
            </div>
            <div class="sca_main_menu sca_main_menu_mobile">
                <div class="sca_main_menu_icon">
                    <i></i><i></i><i></i><i></i>
                    <b>Menu</b>
                    <b class="sca_main_menu_icon_b">Back</b>
                </div>
            </div>
            <div class="sca_main_menu_content sca_image_bck" data-color="rgba(0,0,0,0.9)"></div>
            <div class="sca_main_menu_content_menu sca_wht_txt text-right">
                <div class="container">
                    <div id="block-mobilemenu" class="scalac-text-bl">
                        <ul class="main-menu">
                            <li class="mega-display" style="font-family:Arial">
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="" style="font-family:Arial">
                                <a href="#phong">Phòng</a>
                            </li>
                            <li class="" style="font-family:Arial">


                                <a href="#chung-toi">Hình ảnh</a>

                            </li>
                            <li class="" style="font-family:Arial">
                                <a href="#chung-toi">Chúng Tôi</a>
                            </li>
                            <li class="" style="font-family:Arial">
                                <a href="#lienhe">Liên Hệ</a>
                            </li>
                            <li class="" style="font-family:Arial">
                                <a href="#lienhe">Map</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div id="block-scalac-main-menu" class="sca_default_menu">
                <ul class="main-menu">
                    <li class="mega-display" style="font-family:Arial">
                        <a href="/">Trang chủ</a>
                    </li>
                    <li class="" style="font-family:Arial">
                        <a href="#phong">Phòng</a>
                    </li>
                    <li class="" style="font-family:Arial">
                        <a href="#chung-toi">Hình Ảnh</a>
                    </li>
                    <li class="" style="font-family:Arial">
                        <a href="#chung-toi">Chúng Tôi</a>
                    </li>
                    <li class="" style="font-family:Arial">
                        <a href="#lienhe">Liên Hệ</a>
                    </li>
                    <li class="" style="font-family:Arial">
                        <a href="#lienhe">Map</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
