
@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_LayoutHMS.cshtml";
}

<!-- Header  Inner style-->
<section class="row final-inner-header">
    <div class="container">
        <h2 class="this-title">Hoạt Động </h2>
    </div>
</section>
<section class="row final-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="activities.html" class="active">Activiti</a></li>
        </ol>
    </div>
</section>
<!-- Header  Slider style-->
<!-- Resort Activities style-->
<section class="container clearfix common-pad activities-main">
    <div class="sec-header3">
        <h2>Resort Activities</h2>
        <h3>Pick a room that best suits your taste and budget</h3>
    </div>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
    <div class="row">
        <div class="activities-wrapper">
            <!-- One-->
            <div class="activities-outer">
                <div class="col-md-8 col-md-push-4"><img src="~/Content/HMS/images/activities/1.jpg" alt="" class="img-responsive"></div>
                <div class="col-md-4 col-md-pull-8">
                    <div class="activities-content">
                        <h2>Visit to Places</h2>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.</p><a href="suite-room.html" class="res-btn">See all places <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- One-->
            <!-- Two-->
            <div class="activities-outer">
                <div class="col-md-8"><img src="~/Content/HMS/images/activities/2.jpg" alt="" class="img-responsive"></div>
                <div class="col-md-4">
                    <div class="activities-content">
                        <h2>Family Fun </h2>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.</p><a href="family-fun.html" class="res-btn">See all places <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Two-->
            <!-- Three-->
            <div class="activities-outer">
                <div class="col-md-8 col-md-push-4"><img src="~/Content/HMS/images/activities/3.jpg" alt="" class="img-responsive"></div>
                <div class="col-md-4 col-md-pull-8">
                    <div class="activities-content">
                        <h2>Tracking</h2>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.</p><a href="tracing.html" class="res-btn">See all places <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Three-->
            <!-- Four-->
            <div class="activities-outer">
                <div class="col-md-8"><img src="~/Content/HMS/images/activities/4.jpg" alt="" class="img-responsive"></div>
                <div class="col-md-4">
                    <div class="activities-content">
                        <h2>Spa</h2>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.</p><a href="suite-room.html" class="res-btn">See all places <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Four-->
            <!-- Five-->
            <div class="activities-outer">
                <div class="col-md-8 col-md-push-4"><img src="~/Content/HMS/images/activities/5.jpg" alt="" class="img-responsive"></div>
                <div class="col-md-4 col-md-pull-8">
                    <div class="activities-content">
                        <h2>Dinning</h2>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.</p><a href="suite-room.html" class="res-btn">See all places <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Five-->
            <!-- Six-->
            <div class="activities-outer">
                <div class="col-md-8"><img src="~/Content/HMS/images/activities/6.jpg" alt="" class="img-responsive"></div>
                <div class="col-md-4">
                    <div class="activities-content">
                        <h2>Fitness & Gym</h2>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.</p><a href="suite-room.html" class="res-btn">See all places <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Six-->
        </div>
    </div>
</section>
