<div id="minimal-bootstrap-carousel" data-ride="carousel"
     class="carousel default-home-slider slide carousel-fade shop-slider">
    <!-- Wrapper for slides-->
    <div role="listbox" class="carousel-inner">
        <div style="background-image: url(../../Content/HMS/images/slider/10.jpg);backgroudn-position: center right;"
             class="item active slide-1">
            <div class="carousel-caption nhs-caption nhs-caption6">
                <div class="thm-container">
                    <div class="box valign-middle">
                        <div class="content text-center">
                            <h2 data-animation="animated fadeInUp" class="this-title">Spend Your Dream Holidays</h2>
                            <p data-animation="animated fadeInDown">
                                Book a room at our resort now and get a discount of 30%. Fruit
                                basket, soft drinks and a huge cozy bed are waiting for you. We will do everything to make you feel at
                                home.
                            </p><a data-animation="animated fadeInLeft" href="#" class="nhs-btn3">Book now</a><a data-animation="animated fadeInRight" href="#" class="nhs-btn">know more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-image: url(../../Content/HMS/images/slider/11.jpg);backgroudn-position: center right;" class="item slide-2">
            <div class="carousel-caption nhs-caption nhs-caption7">
                <div class="thm-container">
                    <div class="box valign-middle">
                        <div class="content text-left pull-left">
                            <h2 data-animation="animated fadeInUp" class="this-title">The Best Place to Relax</h2>
                            <p data-animation="animated fadeInDown">
                                Book a room at our resort now and get a discount of 30%. Fruit
                                basket, soft drinks and a huge cozy bed are waiting for you. We will do everything to make you feel at
                                home.
                            </p><a data-animation="animated fadeInLeft" href="#" class="nhs-btn3">Book now</a><a data-animation="animated fadeInRight" href="#" class="nhs-btn">know more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-image: url(../../Content/HMS/images/slider/12.jpg);backgroudn-position: center right;" class="item slide-2">
            <div class="carousel-caption nhs-caption nhs-caption8">
                <div class="thm-container">
                    <div class="box valign-middle">
                        <div class="content text-center">
                            <h2 data-animation="animated fadeInUp" class="this-title">We offer you the best</h2>
                            <h2 data-animation="animated fadeInUp" class="this-title">luxury hotel with an impressive history</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controls--><a href="#minimal-bootstrap-carousel" role="button" data-slide="prev"
                       class="left carousel-control"><i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a><a href="#minimal-bootstrap-carousel" role="button" data-slide="next" class="right carousel-control">
        <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
    </a>
</div>
<!-- Search style-->
<div class="search-wrapper">
    <section class="container clearfix">
        <div class="search-sec search-sec-homet">
            <div class="overlay">
                <div class="border">
                    <div class="ser-in-box">
                        <span class="Zebra_DatePicker_Icon_Wrapper" style="display: block; position: relative; float: none; top: auto; right: auto; bottom: auto; left: auto;"><input placeholder="Arival Date" type="text" class="form-control datepicker-example8" readonly="readonly" style="position: relative; top: auto; right: auto; bottom: auto; left: auto;"><button type="button" class="Zebra_DatePicker_Icon Zebra_DatePicker_Icon_Inside" style="top: 12px; left: 175px;">Pick a date</button></span>
                    </div>
                    <div class="ser-in-box">
                        <span class="Zebra_DatePicker_Icon_Wrapper" style="display: block; position: relative; float: none; top: auto; right: auto; bottom: auto; left: auto;"><input type="text" placeholder="Departure Date" class="form-control datepicker-example8" readonly="readonly" style="position: relative; top: auto; right: auto; bottom: auto; left: auto;"><button type="button" class="Zebra_DatePicker_Icon Zebra_DatePicker_Icon_Inside" style="top: 12px; left: 175px;">Pick a date</button></span>
                    </div>
                    <div class="ser-in-box">
                        <div class="select-box">
                            <select name="selectMenu" class="select-menu" id="ui-id-1" style="display: none;">
                                <option value="default">Adults</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select><span class="ui-selectmenu-button ui-widget ui-state-default ui-corner-all" tabindex="0" id="ui-id-1-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-1-menu" aria-haspopup="true" style="width: 66px;"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">Adults</span></span>
                        </div>
                    </div>
                    <div class="ser-in-box">
                        <div class="select-box">
                            <select name="selectMenu" class="select-menu" id="ui-id-2" style="display: none;">
                                <option value="default">Children</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select><span class="ui-selectmenu-button ui-widget ui-state-default ui-corner-all" tabindex="0" id="ui-id-2-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-2-menu" aria-haspopup="true" style="width: 80px;"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">Children</span></span>
                        </div>
                    </div>
                    <div class="ser-in-box chk-button">
                        <button type="submit" class="res-btn">Check Availability</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Search style-->
<!-- Rooms And Suits style-->
<section class="container clearfix common-pad nasir-style">
    <div class="sec-header sec-header-pad">
        <h2>Rooms And Suits</h2>
        <h3>Pick a room that best suits your taste and budget</h3>
    </div>
    <div class="room-slider">
        <div class="roomsuite-slider-two owl-carousel owl-theme owl-responsive-992 owl-loaded">




            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-1200px, 0px, 0px); transition: all 0s ease 0s; width: 3600px;">
                    <div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                        <div class="room-suite room-suite-htwo">
                            <div class="item">
                                <div class="ro-img"><img src="~/Content/HMS/images/rooms/8.jpg" alt="" class="img-responsive"></div>
                                <div class="ro-txt">
                                    <h2>Deluxe Room</h2>
                                    <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                    <div class="ro-text-two">
                                        <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                        <div class="right-p-two pull-right">
                                            <p>$135<span>Per Night</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                        <div class="room-suite room-suite-htwo">
                            <div class="item">
                                <div class="ro-img"><img src="~/Content/HMS/images/rooms/9.jpg" alt="" class="img-responsive"></div>
                                <div class="ro-txt">
                                    <h2>Economy Room</h2>
                                    <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                    <div class="ro-text-two">
                                        <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                        <div class="right-p-two pull-right">
                                            <p>$215<span>Per Night</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                        <div class="room-suite room-suite-htwo">
                            <div class="item">
                                <div class="ro-img"><img src="~/Content/HMS/images/rooms/10.jpg" alt="" class="img-responsive"></div>
                                <div class="ro-txt">
                                    <h2>Super Room</h2>
                                    <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                    <div class="ro-text-two">
                                        <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                        <div class="right-p-two pull-right">
                                            <p>$315<span>Per Night</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                        <div class="room-suite room-suite-htwo">
                            <div class="item">
                                <div class="ro-img"><img src="~/Content/HMS/images/rooms/11.jpg" alt="" class="img-responsive"></div>
                                <div class="ro-txt">
                                    <h2>Family Room</h2>
                                    <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                    <div class="ro-text-two">
                                        <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                        <div class="right-p-two pull-right">
                                            <p>$199<span>Per Night</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 270px; margin-right: 30px;">
                        <div class="room-suite room-suite-htwo">
                            <div class="item">
                                <div class="ro-img"><img src="~/Content/HMS/images/rooms/8.jpg" alt="" class="img-responsive"></div>
                                <div class="ro-txt">
                                    <h2>Deluxe Room</h2>
                                    <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                    <div class="ro-text-two">
                                        <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                        <div class="right-p-two pull-right">
                                            <p>$135<span>Per Night</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 270px; margin-right: 30px;">
                        <div class="room-suite room-suite-htwo">
                            <div class="item">
                                <div class="ro-img"><img src="~/Content/HMS/images/rooms/9.jpg" alt="" class="img-responsive"></div>
                                <div class="ro-txt">
                                    <h2>Economy Room</h2>
                                    <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                    <div class="ro-text-two">
                                        <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                        <div class="right-p-two pull-right">
                                            <p>$215<span>Per Night</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 270px; margin-right: 30px;">
                        <div class="room-suite room-suite-htwo">
                            <div class="item">
                                <div class="ro-img"><img src="~/Content/HMS/images/rooms/10.jpg" alt="" class="img-responsive"></div>
                                <div class="ro-txt">
                                    <h2>Super Room</h2>
                                    <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                    <div class="ro-text-two">
                                        <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                        <div class="right-p-two pull-right">
                                            <p>$315<span>Per Night</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 270px; margin-right: 30px;">
                        <div class="room-suite room-suite-htwo">
                            <div class="item">
                                <div class="ro-img"><img src="~/Content/HMS/images/rooms/11.jpg" alt="" class="img-responsive"></div>
                                <div class="ro-txt">
                                    <h2>Family Room</h2>
                                    <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                    <div class="ro-text-two">
                                        <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                        <div class="right-p-two pull-right">
                                            <p>$199<span>Per Night</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                        <div class="room-suite room-suite-htwo">
                            <div class="item">
                                <div class="ro-img"><img src="~/Content/HMS/images/rooms/8.jpg" alt="" class="img-responsive"></div>
                                <div class="ro-txt">
                                    <h2>Deluxe Room</h2>
                                    <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                    <div class="ro-text-two">
                                        <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                        <div class="right-p-two pull-right">
                                            <p>$135<span>Per Night</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                        <div class="room-suite room-suite-htwo">
                            <div class="item">
                                <div class="ro-img"><img src="~/Content/HMS/images/rooms/9.jpg" alt="" class="img-responsive"></div>
                                <div class="ro-txt">
                                    <h2>Economy Room</h2>
                                    <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                    <div class="ro-text-two">
                                        <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                        <div class="right-p-two pull-right">
                                            <p>$215<span>Per Night</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                        <div class="room-suite room-suite-htwo">
                            <div class="item">
                                <div class="ro-img"><img src="~/Content/HMS/images/rooms/10.jpg" alt="" class="img-responsive"></div>
                                <div class="ro-txt">
                                    <h2>Super Room</h2>
                                    <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                    <div class="ro-text-two">
                                        <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                        <div class="right-p-two pull-right">
                                            <p>$315<span>Per Night</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                        <div class="room-suite room-suite-htwo">
                            <div class="item">
                                <div class="ro-img"><img src="~/Content/HMS/images/rooms/11.jpg" alt="" class="img-responsive"></div>
                                <div class="ro-txt">
                                    <h2>Family Room</h2>
                                    <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                    <div class="ro-text-two">
                                        <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                        <div class="right-p-two pull-right">
                                            <p>$199<span>Per Night</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
        </div>
    </div>
</section>
<!-- Counter style-->
<section class="resort-counert clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="rest-fact-counter">
                    <div class="text-box">
                        <h4 data-from="0" data-to="121" class="timer">121</h4>
                    </div>
                    <div class="text-box2">
                        <p>new<span>friendships</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="rest-fact-counter">
                    <div class="text-box">
                        <h4 data-from="0" data-to="254" class="timer">254</h4>
                    </div>
                    <div class="text-box2">
                        <p>five start<span>ratings</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="rest-fact-counter">
                    <div class="text-box">
                        <h4 data-from="0" data-to="430" class="timer">430</h4>
                    </div>
                    <div class="text-box2">
                        <p>International<span>Guests</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="rest-fact-counter">
                    <div class="text-box">
                        <h4 data-from="0" data-to="782" class="timer">782</h4>
                    </div>
                    <div class="text-box2">
                        <p>Served<span>Breakfast</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Activities of Resort style-->
<div class="resot-activities clearfix">
    <div class="container clearfix common-pad">
        <div class="row">
            <div class="col-lg-6 col-md-6 activities-cont">
                <div class="sec-header3">
                    <h2>Activities of Resort</h2>
                    <h3>Pick a room that best suits your taste and budget</h3>
                </div>
                <p>
                    Tdolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet,
                    consectetur, adipis civelit. Red quia numquam.
                </p>
                <p>
                    Tdolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet,
                    consectetur, adipis civelit. Red quia numquam eius modi. Neque porro quisquam est, qui dolorem ipsum quia
                    dolor sit amet
                </p><a href="aboutus.html" class="res-btn">About us<i class="fa fa-arrow-right"></i></a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row nasir-welboxes">
                    <div class="single_wel_cont col-sm-6">
                        <a href="#" class="wel-box">
                            <div class="icon-box"><img src="~/Content/HMS/images/welcome/icon-3.png" alt=""></div>
                            <h4>Lexuary Spa</h4>
                            <div class="overlay transition3s">
                                <div class="icon_position_table">
                                    <div class="icon_container border_round">
                                        <h2>Lexuary Spa</h2>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia orro quisquam estdqAolor </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="single_wel_cont col-sm-6">
                        <a href="#" class="wel-box">
                            <div class="icon-box"><img src="~/Content/HMS/images/welcome/icon-1.png" alt=""></div>
                            <h4>Inhouse Restaurant</h4>
                            <div class="overlay transition3s">
                                <div class="icon_position_table">
                                    <div class="icon_container border_round">
                                        <h2>Inhouse Restaurant</h2>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia orro quisquam estdqAolor </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="single_wel_cont col-sm-6">
                        <a href="#" class="wel-box">
                            <div class="icon-box"><img src="~/Content/HMS/images/welcome/icon-2.png" alt=""></div>
                            <h4>Fitness Gym</h4>
                            <div class="overlay transition3s">
                                <div class="icon_position_table">
                                    <div class="icon_container border_round">
                                        <h2>Fitness Gym</h2>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia orro quisquam estdqAolor </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="single_wel_cont col-sm-6">
                        <a href="#" class="wel-box">
                            <div class="icon-box"><img src="~/Content/HMS/images/welcome/icon-3.png" alt=""></div>
                            <h4>Delicious Food</h4>
                            <div class="overlay transition3s">
                                <div class="icon_position_table">
                                    <div class="icon_container border_round">
                                        <h2>Delicious Food</h2>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia orro quisquam estdqAolor </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Offer style-->
<section class="our-offer-htwo clearfix">
    <div class="container clearfix common-pad">
        <div class="row">
            <div class="col-md-4 our-offer-left">
                <div class="sec-header3">
                    <h2>Our Offers</h2>
                    <h3>Pick a room that best suits</h3>
                </div>
                <p>
                    Tdolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet,
                    consectetur, adipis civelit. Red quia numquam.
                </p>
                <p>
                    Tdolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet,
                    consectetur, adipis civelit. Red quia numquam eius modi. Neque porro quisquam.
                </p>
            </div>
            <div class="col-md-8 offer-right">
                <div class="offer-img-box1">
                    <div class="spa-offer">
                        <div class="img_holder">
                            <img src="~/Content/HMS/images/our-resort/1.jpg" alt="" class="img-responsive">
                            <div class="overlay">
                                <div class="room-ad-cont">
                                    <h2>
                                        <span>Weeken Spa Offer</span></h3>
                                        <p>Enjoy a luxurious SPA weekend dedicated to helping you unwind.</p><a href="booking.html">
                                            Read
                                            more
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-img-box2">
                    <div class="box1">
                        <div class="img_holder">
                            <a href="booking.html">
                                <img src="~/Content/HMS/images/our-resort/2.jpg" alt=""
                                     class="img-responsive">
                                <div class="overlay">
                                    <div class="text1">* condition apply</div>
                                    <div class="offertext1">
                                        <p>15% <span class="off-txt">off</span><span class="winter-txt">In Winter<br>Season</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="box2">
                        <div class="img_holder">
                            <a href="booking.html">
                                <img src="~/Content/HMS/images/our-resort/3.jpg" alt=""
                                     class="img-responsive">
                                <div class="overlay">
                                    <p>Honeymoon <span>Offer</span></p>
                                    <h2>25% <span>off</span></h2>
                                    <h6>* condition apply</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Gallery style-->
@*<section class="our-galler-htwo clearfix common-pad">
      <div class="container clearfix">
        <div class="sec-header sec-w-header">
          <h2>Our Gallery</h2>
          <h3>Pick a room that best suits your taste and budget</h3>
        </div>
      </div>
      <div class="fullwidth-silder">
        <div class="fullwidth-slider owl-carousel owl-theme owl-responsive-992 owl-loaded">
          
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1507px, 0px, 0px); transition: all 0s ease 0s; width: 4521px;"><div class="owl-item cloned" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/1.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/1.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">our staff</h4>
              </div>
            </div>
          </div></div><div class="owl-item cloned" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/2.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/2.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">exterior view</h4>
              </div>
            </div>
          </div></div><div class="owl-item cloned" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/3.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/3.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">bedroom</h4>
              </div>
            </div>
          </div></div><div class="owl-item cloned" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/4.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/4.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">swiming pool</h4>
              </div>
            </div>
          </div></div><div class="owl-item cloned" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/5.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/5.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">our restaurant</h4>
              </div>
            </div>
          </div></div><div class="owl-item active" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/1.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/1.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">our staff</h4>
              </div>
            </div>
          </div></div><div class="owl-item active" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/2.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/2.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">exterior view</h4>
              </div>
            </div>
          </div></div><div class="owl-item active" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/3.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/3.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">bedroom</h4>
              </div>
            </div>
          </div></div><div class="owl-item active" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/4.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/4.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">swiming pool</h4>
              </div>
            </div>
          </div></div><div class="owl-item active" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/5.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/5.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">our restaurant</h4>
              </div>
            </div>
          </div></div><div class="owl-item cloned" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/1.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/1.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">our staff</h4>
              </div>
            </div>
          </div></div><div class="owl-item cloned" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/2.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/2.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">exterior view</h4>
              </div>
            </div>
          </div></div><div class="owl-item cloned" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/3.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/3.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">bedroom</h4>
              </div>
            </div>
          </div></div><div class="owl-item cloned" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/4.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/4.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">swiming pool</h4>
              </div>
            </div>
          </div></div><div class="owl-item cloned" style="width: 271.4px; margin-right: 30px;"><div class="item"><img src="~/Content/HMS/images/gallery-two/5.jpg" alt="">
            <div class="this-overlay">
              <div class="this-texts"><a href="~/Content/HMS/images/gallery-two/5.jpg" rel="help" class="fancybox"><i class="icon icon-Search"></i></a>
                <h4 class="this-title">our restaurant</h4>
              </div>
            </div>
          </div></div></div></div>
          
          <div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
      </div>
    </section>*@
<div class="row room-and-suits-style">
      <section class="container clearfix common-pad">
        <div class="sec-header sec-header-pad">
          <h2>Rooms And Suits</h2>
          <h3>Pick a room that best suits your taste and budget</h3>
        </div>
        <div class="room-slider">
          <div class="roomsuite-slider-two owl-carousel owl-theme owl-responsive-992 owl-loaded">
            
            
            
            
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1200px, 0px, 0px); transition: all 0s ease 0s; width: 3600px;"><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><div class="room-suite room-suite-htwo">
              <div class="item">
                <div class="ro-img"><img src="~/Content/HMS/images/rooms/8.jpg" alt="" class="img-responsive"></div>
                <div class="ro-txt">
                  <h2>Deluxe Room</h2>
                  <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                  <div class="ro-text-two">
                    <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                    <div class="right-p-two pull-right">
                      <p>$135<span>Per Night</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><div class="room-suite room-suite-htwo">
              <div class="item">
                <div class="ro-img"><img src="~/Content/HMS/images/rooms/9.jpg" alt="" class="img-responsive"></div>
                <div class="ro-txt">
                  <h2>Economy Room</h2>
                  <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                  <div class="ro-text-two">
                    <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                    <div class="right-p-two pull-right">
                      <p>$215<span>Per Night</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><div class="room-suite room-suite-htwo">
              <div class="item">
                <div class="ro-img"><img src="~/Content/HMS/images/rooms/10.jpg" alt="" class="img-responsive"></div>
                <div class="ro-txt">
                  <h2>Super Room</h2>
                  <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                  <div class="ro-text-two">
                    <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                    <div class="right-p-two pull-right">
                      <p>$315<span>Per Night</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><div class="room-suite room-suite-htwo">
              <div class="item">
                <div class="ro-img"><img src="~/Content/HMS/images/rooms/11.jpg" alt="" class="img-responsive"></div>
                <div class="ro-txt">
                  <h2>Family Room</h2>
                  <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                  <div class="ro-text-two">
                    <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                    <div class="right-p-two pull-right">
                      <p>$199<span>Per Night</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item active" style="width: 270px; margin-right: 30px;"><div class="room-suite room-suite-htwo">
              <div class="item">
                <div class="ro-img"><img src="~/Content/HMS/images/rooms/8.jpg" alt="" class="img-responsive"></div>
                <div class="ro-txt">
                  <h2>Deluxe Room</h2>
                  <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                  <div class="ro-text-two">
                    <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                    <div class="right-p-two pull-right">
                      <p>$135<span>Per Night</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item active" style="width: 270px; margin-right: 30px;"><div class="room-suite room-suite-htwo">
              <div class="item">
                <div class="ro-img"><img src="~/Content/HMS/images/rooms/9.jpg" alt="" class="img-responsive"></div>
                <div class="ro-txt">
                  <h2>Economy Room</h2>
                  <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                  <div class="ro-text-two">
                    <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                    <div class="right-p-two pull-right">
                      <p>$215<span>Per Night</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item active" style="width: 270px; margin-right: 30px;"><div class="room-suite room-suite-htwo">
              <div class="item">
                <div class="ro-img"><img src="~/Content/HMS/images/rooms/10.jpg" alt="" class="img-responsive"></div>
                <div class="ro-txt">
                  <h2>Super Room</h2>
                  <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                  <div class="ro-text-two">
                    <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                    <div class="right-p-two pull-right">
                      <p>$315<span>Per Night</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item active" style="width: 270px; margin-right: 30px;"><div class="room-suite room-suite-htwo">
              <div class="item">
                <div class="ro-img"><img src="~/Content/HMS/images/rooms/11.jpg" alt="" class="img-responsive"></div>
                <div class="ro-txt">
                  <h2>Family Room</h2>
                  <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                  <div class="ro-text-two">
                    <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                    <div class="right-p-two pull-right">
                      <p>$199<span>Per Night</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><div class="room-suite room-suite-htwo">
              <div class="item">
                <div class="ro-img"><img src="~/Content/HMS/images/rooms/8.jpg" alt="" class="img-responsive"></div>
                <div class="ro-txt">
                  <h2>Deluxe Room</h2>
                  <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                  <div class="ro-text-two">
                    <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                    <div class="right-p-two pull-right">
                      <p>$135<span>Per Night</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><div class="room-suite room-suite-htwo">
              <div class="item">
                <div class="ro-img"><img src="~/Content/HMS/images/rooms/9.jpg" alt="" class="img-responsive"></div>
                <div class="ro-txt">
                  <h2>Economy Room</h2>
                  <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                  <div class="ro-text-two">
                    <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                    <div class="right-p-two pull-right">
                      <p>$215<span>Per Night</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><div class="room-suite room-suite-htwo">
              <div class="item">
                <div class="ro-img"><img src="~/Content/HMS/images/rooms/10.jpg" alt="" class="img-responsive"></div>
                <div class="ro-txt">
                  <h2>Super Room</h2>
                  <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                  <div class="ro-text-two">
                    <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                    <div class="right-p-two pull-right">
                      <p>$315<span>Per Night</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><div class="room-suite room-suite-htwo">
              <div class="item">
                <div class="ro-img"><img src="~/Content/HMS/images/rooms/11.jpg" alt="" class="img-responsive"></div>
                <div class="ro-txt">
                  <h2>Family Room</h2>
                  <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                  <div class="ro-text-two">
                    <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                    <div class="right-p-two pull-right">
                      <p>$199<span>Per Night</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
        </div>
      </section>
    </div>
<!-- Counter style-->

<!-- Activities of Resort style-->
<div class="resot-activities clearfix">
    <div class="container clearfix common-pad">
        <div class="row">
            <div class="col-lg-6 col-md-6 activities-cont">
                <div class="sec-header3">
                    <h2>Activities of Resort</h2>
                    <h3>Pick a room that best suits your taste and budget</h3>
                </div>
                <p>Tdolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit. Red quia numquam.</p>
                <p>Tdolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit. Red quia numquam eius modi. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p><a href="aboutus.html" class="res-btn">About us<i class="fa fa-arrow-right"></i></a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row nasir-welboxes">
                    <div class="single_wel_cont col-sm-6">
                        <a href="#" class="wel-box">
                            <div class="icon-box"><img src="~/Content/HMS/images/welcome/icon-3.png" alt=""></div>
                            <h4>Lexuary Spa</h4>
                            <div class="overlay transition3s">
                                <div class="icon_position_table">
                                    <div class="icon_container border_round">
                                        <h2>Lexuary Spa</h2>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia  orro quisquam estdqAolor </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="single_wel_cont col-sm-6">
                        <a href="#" class="wel-box">
                            <div class="icon-box"><img src="~/Content/HMS/images/welcome/icon-1.png" alt=""></div>
                            <h4>Inhouse Restaurant</h4>
                            <div class="overlay transition3s">
                                <div class="icon_position_table">
                                    <div class="icon_container border_round">
                                        <h2>Inhouse Restaurant</h2>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia  orro quisquam estdqAolor </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="single_wel_cont col-sm-6">
                        <a href="#" class="wel-box">
                            <div class="icon-box"><img src="~/Content/HMS/images/welcome/icon-2.png" alt=""></div>
                            <h4>Fitness Gym</h4>
                            <div class="overlay transition3s">
                                <div class="icon_position_table">
                                    <div class="icon_container border_round">
                                        <h2>Fitness Gym</h2>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia  orro quisquam estdqAolor </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="single_wel_cont col-sm-6">
                        <a href="#" class="wel-box">
                            <div class="icon-box"><img src="~/Content/HMS/images/welcome/icon-3.png" alt=""></div>
                            <h4>Delicious Food</h4>
                            <div class="overlay transition3s">
                                <div class="icon_position_table">
                                    <div class="icon_container border_round">
                                        <h2>Delicious Food</h2>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia  orro quisquam estdqAolor </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Offer style-->
<!-- Get in Touch & Drop a Message style-->
<div class="resot-activities clearfix">
    <div class="container clearfix common-pad">
        <div class="row">
            <div class="col-lg-6 col-md-7 get-touch-two">
                <div class="get-touch-wrapper row m0">
                    <div class="touch-img"><img src="~/Content/HMS/images/footer/1.jpg" alt="" class="img-responsive"></div>
                    <div class="touch-txt">
                        <div class="sec-header-touch">
                            <h2>Get in Touch</h2>
                        </div>
                        <h3>John Doe<span>(Senior Agent)</span></h3>
                        <p>Phone : 604-786-4440</p>
                        <p>Email : info@contactjohndoe.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 home-two-msgwrapper">
                <div class="sec-header-touch">
                    <h2>Drop a Message</h2>
                </div>
                <div class="drop-wrapper input_form">
                    <form id="contactForm" action="http://galaxyanalytics.net/demos/lakeresort/sendemail.php" method="post">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input id="name" type="text" name="name" placeholder="Your name" class="form-control">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input id="email" type="email" name="email" placeholder="Your Email" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input id="subject" type="text" name="subject" placeholder="Subject" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea id="message" rows="6" name="message" placeholder="Message" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="res-btn">Submit Now <i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </form>
                    <div id="success">
                        <p>Your message sent successfully.</p>
                    </div>
                    <div id="error">
                        <p>Something is wrong. Message cant be sent!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>