<div id="minimal-bootstrap-carousel" data-ride="carousel" class="carousel slide carousel-fade shop-slider">
    <!-- Wrapper for slides-->
    <div role="listbox" class="carousel-inner">
        <div style="background-image: url(../../Content/HMS/images/slider/6.jpg);backgroudn-position: center right;"
             class="item active slide-1">
            <div class="carousel-caption nhs-caption nhs-caption5">
                <div class="thm-container">
                    <div class="box valign-middle">
                        <div class="content text-center">
                            <h2 data-animation="animated fadeInUp" class="this-title">Welcome to Our Lake Hotel</h2>
                            <p data-animation="animated fadeInDown">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                aut fugit, sed quia consequuntur magni dolores eos quit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-image: url(../../Content/HMS/images/slider/5.jpg);backgroudn-position: center right;" class="item slide-2">
            <div class="carousel-caption nhs-caption nhs-caption5">
                <div class="thm-container">
                    <div class="box valign-middle">
                        <div class="content text-center">
                            <h2 data-animation="animated fadeInUp" class="this-title">Welcome to Our Lake Hotel</h2>
                            <p data-animation="animated fadeInDown">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                aut fugit, sed quia consequuntur magni dolores eos quit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controls--><a href="#minimal-bootstrap-carousel" role="button" data-slide="prev"
                       class="left carousel-control"><i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a><a href="#minimal-bootstrap-carousel" role="button" data-slide="next" class="right carousel-control">
        <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
    </a>
</div>
<!-- Header  Slider style-->
<!-- Search style-->
<div class="search-wrapper">
    <section class="container clearfix">
        <div class="search-sec search-sec-homet nasir-style">
            <div class="overlay">
                <div class="border">
                    <div class="ser-in-box">
                        <span class="Zebra_DatePicker_Icon_Wrapper" style="display: block; position: relative; float: none; top: auto; right: auto; bottom: auto; left: auto;"><input placeholder="Arival Date" type="text" class="form-control datepicker-example8" readonly="readonly" style="position: relative; top: auto; right: auto; bottom: auto; left: auto;"><button type="button" class="Zebra_DatePicker_Icon Zebra_DatePicker_Icon_Inside" style="top: 12px; left: 177px;">Pick a date</button></span>
                    </div>
                    <div class="ser-in-box">
                        <span class="Zebra_DatePicker_Icon_Wrapper" style="display: block; position: relative; float: none; top: auto; right: auto; bottom: auto; left: auto;"><input type="text" placeholder="Departure Date" class="form-control datepicker-example8" readonly="readonly" style="position: relative; top: auto; right: auto; bottom: auto; left: auto;"><button type="button" class="Zebra_DatePicker_Icon Zebra_DatePicker_Icon_Inside" style="top: 12px; left: 177px;">Pick a date</button></span>
                    </div>
                    <div class="ser-in-box">
                        <div class="select-box">
                            <select name="selectMenu" class="select-menu" id="ui-id-1" style="display: none;">
                                <option value="default">Adults</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select><span class="ui-selectmenu-button ui-widget ui-state-default ui-corner-all" tabindex="0" id="ui-id-1-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-1-menu" aria-haspopup="true" style="width: 66px;"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">Adults</span></span>
                        </div>
                    </div>
                    <div class="ser-in-box">
                        <div class="select-box">
                            <select name="selectMenu" class="select-menu" id="ui-id-2" style="display: none;">
                                <option value="default">Children</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select><span class="ui-selectmenu-button ui-widget ui-state-default ui-corner-all" tabindex="0" id="ui-id-2-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-2-menu" aria-haspopup="true" style="width: 80px;"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">Children</span></span>
                        </div>
                    </div>
                    <div class="ser-in-box chk-button">
                        <button type="submit" class="res-btn">Check Availability</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Search style-->
<div class="nasir-welcome-style row">
    <div class="container">
        <div class="row nwelcomestyle">
            <div class="col-md-6 this-images">
                <img src="~/Content/HMS/images/welcome-blocks/2.jpg" alt=""><img src="~/Content/HMS/images/welcome-blocks/1.jpg" alt="" class="simg">
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-6 this-texts">
                <h2 class="this-wtitle">Welcome Are Dream </h2>
                <h2 class="this-title">resort for your Dream Stay</h2>
                <p>
                    If you chose to stay with us you will enjoy modern home comforts in a traditional setting. Whether you are
                    looking for a short weekend break or a longer holiday, we offer a range of packages that will cater for all.
                    stay with us you will enjoy modern home comforts in a traditional setting.
                </p>
                <p>
                    Whether you are looking for a short weekend break or a longer holiday, we offer a range of packages that
                    will cater for all.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="single_wel_cont home4v col-md-3 col-sm-6">
                <a href="#" class="wel-box">
                    <div class="icon-box"><img src="~/Content/HMS/images/welcome/icon-3.png" alt=""></div>
                    <h4>Lexuary Spa</h4>
                    <div class="overlay transition3s">
                        <div class="icon_position_table">
                            <div class="icon_container border_round">
                                <h2>Lexuary Spa</h2>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia orro quisquam estdqAolor </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="single_wel_cont home4v col-md-3 col-sm-6">
                <a href="#" class="wel-box">
                    <div class="icon-box"><img src="~/Content/HMS/images/welcome/icon-1.png" alt=""></div>
                    <h4>Inhouse Restaurant</h4>
                    <div class="overlay transition3s">
                        <div class="icon_position_table">
                            <div class="icon_container border_round">
                                <h2>Inhouse Restaurant</h2>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia orro quisquam estdqAolor </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="single_wel_cont home4v col-md-3 col-sm-6">
                <a href="#" class="wel-box">
                    <div class="icon-box"><img src="~/Content/HMS/images/welcome/icon-2.png" alt=""></div>
                    <h4>Fitness Gym</h4>
                    <div class="overlay transition3s">
                        <div class="icon_position_table">
                            <div class="icon_container border_round">
                                <h2>Fitness Gym</h2>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia orro quisquam estdqAolor </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="single_wel_cont home4v col-md-3 col-sm-6">
                <a href="#" class="wel-box">
                    <div class="icon-box"><img src="~/Content/HMS/images/welcome/icon-3.png" alt=""></div>
                    <h4>Delicious Food</h4>
                    <div class="overlay transition3s">
                        <div class="icon_position_table">
                            <div class="icon_container border_round">
                                <h2>Delicious Food</h2>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia orro quisquam estdqAolor </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Rooms And Suits style-->
<div class="row room-and-suits-style">
    <section class="container clearfix common-pad">
        <div class="sec-header sec-header-pad">
            <h2>Rooms And Suits</h2>
            <h3>Pick a room that best suits your taste and budget</h3>
        </div>
        <div class="room-slider">
            <div class="roomsuite-slider-two owl-carousel owl-theme owl-responsive-992 owl-loaded">




                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1200px, 0px, 0px); transition: all 0s ease 0s; width: 3600px;">
                        <div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                            <div class="room-suite room-suite-htwo">
                                <div class="item">
                                    <div class="ro-img"><img src="~/Content/HMS/images/rooms/8.jpg" alt="" class="img-responsive"></div>
                                    <div class="ro-txt">
                                        <h2>Deluxe Room</h2>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                        <div class="ro-text-two">
                                            <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                            <div class="right-p-two pull-right">
                                                <p>$135<span>Per Night</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                            <div class="room-suite room-suite-htwo">
                                <div class="item">
                                    <div class="ro-img"><img src="~/Content/HMS/images/rooms/9.jpg" alt="" class="img-responsive"></div>
                                    <div class="ro-txt">
                                        <h2>Economy Room</h2>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                        <div class="ro-text-two">
                                            <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                            <div class="right-p-two pull-right">
                                                <p>$215<span>Per Night</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                            <div class="room-suite room-suite-htwo">
                                <div class="item">
                                    <div class="ro-img"><img src="~/Content/HMS/images/rooms/10.jpg" alt="" class="img-responsive"></div>
                                    <div class="ro-txt">
                                        <h2>Super Room</h2>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                        <div class="ro-text-two">
                                            <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                            <div class="right-p-two pull-right">
                                                <p>$315<span>Per Night</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                            <div class="room-suite room-suite-htwo">
                                <div class="item">
                                    <div class="ro-img"><img src="~/Content/HMS/images/rooms/11.jpg" alt="" class="img-responsive"></div>
                                    <div class="ro-txt">
                                        <h2>Family Room</h2>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                        <div class="ro-text-two">
                                            <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                            <div class="right-p-two pull-right">
                                                <p>$199<span>Per Night</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 270px; margin-right: 30px;">
                            <div class="room-suite room-suite-htwo">
                                <div class="item">
                                    <div class="ro-img"><img src="~/Content/HMS/images/rooms/8.jpg" alt="" class="img-responsive"></div>
                                    <div class="ro-txt">
                                        <h2>Deluxe Room</h2>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                        <div class="ro-text-two">
                                            <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                            <div class="right-p-two pull-right">
                                                <p>$135<span>Per Night</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 270px; margin-right: 30px;">
                            <div class="room-suite room-suite-htwo">
                                <div class="item">
                                    <div class="ro-img"><img src="~/Content/HMS/images/rooms/9.jpg" alt="" class="img-responsive"></div>
                                    <div class="ro-txt">
                                        <h2>Economy Room</h2>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                        <div class="ro-text-two">
                                            <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                            <div class="right-p-two pull-right">
                                                <p>$215<span>Per Night</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 270px; margin-right: 30px;">
                            <div class="room-suite room-suite-htwo">
                                <div class="item">
                                    <div class="ro-img"><img src="~/Content/HMS/images/rooms/10.jpg" alt="" class="img-responsive"></div>
                                    <div class="ro-txt">
                                        <h2>Super Room</h2>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                        <div class="ro-text-two">
                                            <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                            <div class="right-p-two pull-right">
                                                <p>$315<span>Per Night</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 270px; margin-right: 30px;">
                            <div class="room-suite room-suite-htwo">
                                <div class="item">
                                    <div class="ro-img"><img src="~/Content/HMS/images/rooms/11.jpg" alt="" class="img-responsive"></div>
                                    <div class="ro-txt">
                                        <h2>Family Room</h2>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                        <div class="ro-text-two">
                                            <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                            <div class="right-p-two pull-right">
                                                <p>$199<span>Per Night</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                            <div class="room-suite room-suite-htwo">
                                <div class="item">
                                    <div class="ro-img"><img src="~/Content/HMS/images/rooms/8.jpg" alt="" class="img-responsive"></div>
                                    <div class="ro-txt">
                                        <h2>Deluxe Room</h2>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                        <div class="ro-text-two">
                                            <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                            <div class="right-p-two pull-right">
                                                <p>$135<span>Per Night</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                            <div class="room-suite room-suite-htwo">
                                <div class="item">
                                    <div class="ro-img"><img src="~/Content/HMS/images/rooms/9.jpg" alt="" class="img-responsive"></div>
                                    <div class="ro-txt">
                                        <h2>Economy Room</h2>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                        <div class="ro-text-two">
                                            <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                            <div class="right-p-two pull-right">
                                                <p>$215<span>Per Night</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                            <div class="room-suite room-suite-htwo">
                                <div class="item">
                                    <div class="ro-img"><img src="~/Content/HMS/images/rooms/10.jpg" alt="" class="img-responsive"></div>
                                    <div class="ro-txt">
                                        <h2>Super Room</h2>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                        <div class="ro-text-two">
                                            <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                            <div class="right-p-two pull-right">
                                                <p>$315<span>Per Night</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;">
                            <div class="room-suite room-suite-htwo">
                                <div class="item">
                                    <div class="ro-img"><img src="~/Content/HMS/images/rooms/11.jpg" alt="" class="img-responsive"></div>
                                    <div class="ro-txt">
                                        <h2>Family Room</h2>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod ipsum dolor sit amet</p>
                                        <div class="ro-text-two">
                                            <div class="left-p-two pull-left"><a href="single-room.html" class="res-btn">details</a></div>
                                            <div class="right-p-two pull-right">
                                                <p>$199<span>Per Night</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
            </div>
        </div>
    </section>
</div>
<!-- Offers-->
<section class="our-offer-htwo clearfix home4offers-two">
    <div class="container clearfix common-pad">
        <div class="row">
            <div class="col-md-4 col-sm-6 offer-left">
                <div class="offer-img-box1">
                    <div class="spa-offer">
                        <div class="img_holder">
                            <img src="~/Content/HMS/images/our-resort/1.jpg" alt="" class="img-responsive">
                            <div class="overlay">
                                <div class="room-ad-cont">
                                    <h2>
                                        <span>Weeken Spa Offer</span></h3>
                                        <p>Enjoy a luxurious SPA weekend dedicated to helping you unwind.</p><a href="booking.html">
                                            Read
                                            more
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 our-offer-left">
                <div class="sec-header3">
                    <h2>Our Offers</h2>
                    <h3>Pick a room that best suits</h3>
                </div>
                <p>
                    Tdolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet,
                    consectetur, adipis civelit. Red quia numquam.
                </p>
                <p>
                    Tdolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet,
                    consectetur, adipis civelit. Red quia numquam eius modi. Neque porro quisquam.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 offer-right">
                <div class="offer-img-box2">
                    <div class="box1">
                        <div class="img_holder">
                            <a href="booking.html">
                                <img src="~/Content/HMS/images/our-resort/2.jpg" alt=""
                                     class="img-responsive">
                                <div class="overlay">
                                    <div class="text1">* condition apply</div>
                                    <div class="offertext1">
                                        <p>15% <span class="off-txt">off</span><span class="winter-txt">In Winter<br>Season</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="box2">
                        <div class="img_holder">
                            <a href="booking.html">
                                <img src="~/Content/HMS/images/our-resort/3.jpg" alt=""
                                     class="img-responsive">
                                <div class="overlay">
                                    <p>Honeymoon <span>Offer</span></p>
                                    <h2>25% <span>off</span></h2>
                                    <h6>* condition apply</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Activities-->
<section class="row nasir-activities2">
    <div class="container">
        <div class="sec-header sec-header-pad sec-w-header">
            <h2>Rooms And Suits</h2>
            <h3>Pick a room that best suits your taste and budget</h3>
        </div>
        <p>
            Tdolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet, consectetur,
            adipis civelit. Red quia numquam. Tdolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum
            quia dolor sit amet, consectetur, adipis civelit. Red quia numquam eius modi. Neque porro quisquam.
        </p>
    </div>
    <ul class="nav nav-justified">
        <li>
            <img src="~/Content/HMS/images/activities/7.jpg" alt="">
            <div class="this-overlay"></div>
            <div class="this-texts">
                <h3 class="this-ftitle">Enjoyr the Cycling</h3>
                <h3 class="this-stitle">Cycling Riding</h3>
            </div>
        </li>
        <li>
            <img src="~/Content/HMS/images/activities/8.jpg" alt="">
            <div class="this-overlay"></div>
            <div class="this-texts">
                <h3 class="this-ftitle">Enjoyr the Tracking</h3>
                <h3 class="this-stitle">Mountain climbing</h3>
            </div>
        </li>
        <li>
            <img src="~/Content/HMS/images/activities/9.jpg" alt="">
            <div class="this-overlay"></div>
            <div class="this-texts">
                <h3 class="this-ftitle">Enjoyr the Sea</h3>
                <h3 class="this-stitle">Water Skilling</h3>
            </div>
        </li>
        <li>
            <img src="~/Content/HMS/images/activities/10.jpg" alt="">
            <div class="this-overlay"></div>
            <div class="this-texts">
                <h3 class="this-ftitle">Enjoyr the Rope Trolling</h3>
                <h3 class="this-stitle">Mountain Trolley</h3>
            </div>
        </li>
        <li>
            <img src="~/Content/HMS/images/activities/11.jpg" alt="">
            <div class="this-overlay"></div>
            <div class="this-texts">
                <h3 class="this-ftitle">Enjoyr the Safari</h3>
                <h3 class="this-stitle">Forest Riding</h3>
            </div>
        </li>
    </ul>
</section>
<!-- News and Events  style-->
<section class="clearfix news-wrapper">
    <section class="container clearfix common-pad">
        <div class="sec-header">
            <h2>News and Events</h2>
            <h3>Pick a room that best suits your taste and budget</h3>
        </div>
        <div class="row event-pad">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="news-evn-img">
                    <a href="news-details.html">
                        <img src="~/Content/HMS/images/event/1.jpg" alt=""
                             class="img-responsive">
                    </a>
                    <div class="event-date">
                        <h3>05 <small>Aug</small></h3>
                    </div>
                </div>
                <div class="news-evn-cont">
                    <div class="news-meta"><a href="#">By: Anjori Meyami</a><a href="news-details.html"> Comments: 6</a></div><a href="#">
                        <h3>The Surprising Reason College Tuition Is Crazy Expensive</h3>
                    </a>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium doloremque laudantium totam
                        rem aperiam
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="news-evn-img">
                    <a href="news-details.html">
                        <img src="~/Content/HMS/images/event/2.jpg" alt=""
                             class="img-responsive">
                    </a>
                    <div class="event-date">
                        <h3>05 <small>Aug</small></h3>
                    </div>
                </div>
                <div class="news-evn-cont">
                    <div class="news-meta"><a href="#">By: Anjori Meyami</a><a href="news-details.html"> Comments: 6</a></div><a href="#">
                        <h3>The Surprising Reason College Tuition Is Crazy Expensive</h3>
                    </a>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium doloremque laudantium totam
                        rem aperiam
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="news-evn-img">
                    <a href="news-details.html">
                        <img src="~/Content/HMS/images/event/3.jpg" alt=""
                             class="img-responsive">
                    </a>
                    <div class="event-date">
                        <h3>05 <small>Aug</small></h3>
                    </div>
                </div>
                <div class="news-evn-cont">
                    <div class="news-meta"><a href="#">By: Anjori Meyami</a><a href="news-details.html"> Comments: 6</a></div><a href="#">
                        <h3>The Surprising Reason College Tuition Is Crazy Expensive</h3>
                    </a>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium doloremque laudantium totam
                        rem aperiam
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>