
@using PagedList.Mvc;
@*khai bao thu vien pagelist*@
@model PagedList.IPagedList<Outsourcing.Data.Models.HMS.Room>
@*don nhan du lieu dang IPagedList<Blog>*@


@{
    ViewBag.Title = "RoomSigle";
    Layout = "~/Views/Shared/_LayoutHMS.cshtml";
}

<section class="row final-inner-header">
    <div class="container">
        <h2 class="this-title">Phòng Đơn</h2>
    </div>
</section>
<section class="row final-breadcrumb"> 
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="single-room.html" class="active">Phòng Đơn</a></li>
        </ol>
    </div>
</section>
<!-- Header  Slider style-->
<!-- News style-->
<!-- About Resort style-->
<section class="container clearfix common-pad-inner about-info-box nasir-room-grid-header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="sec-header3">
                <h2>Our Rooms and Suits</h2>
                <h3>Pick a room that best suits your taste and budget</h3>
            </div>
        </div>
    </div>
</section>
<!-- About Resort style-->
<section class="row nasir-room-grid">
    <div class="container">
        <div class="row">
            
            @foreach (var iterm in Model)
        {
            <div class="col-sm-4 nroom-grid">
                <a href="single-room.html" class="room-img"><img src="" alt=""></a>
                <div class="row this-conts">
                    <div class="media">
                        <div class="media-body this-title">@iterm.Name</div>
                        <div class="media-right">$215<small>Per Night</small></div>
                    </div>
                    <p>@iterm.Description</p><a href="single-room.html" class="read-more">view room<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
    }

        </div>
        <div>
            @Html.PagedListPager(Model, page => Url.Action("RoomSingle", new { page }))
        </div>
    </div>
  
</section>
<!-- Welcome banner  style-->
<!-- Welcome banner  style-->
<!-- footer  style-->
<!-- News style-->
<!-- Welcome banner  style-->