<section class="row final-inner-header">
    <div class="container">
        <h2 class="this-title">Phòng Đôi</h2>
    </div>
</section>
<section class="row final-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="couple-room.html" class="active">Couple Room</a></li>
        </ol>
    </div>
</section>
<!-- Header  Slider style-->
<!-- About Resort style-->
<section class="container clearfix common-pad-inner about-info-box">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="sec-header3">
                <h2>Rooms and Suits</h2>
                <h3>Pick a room that best suits your taste and budget</h3>
            </div>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.</p>
        </div>
    </div>
</section>
<!-- About Resort style-->
<!-- Room 2 style-->
<section class="clearfix news-wrapper">
    <div class="container clearfix common-pad-room">
        <div class="row">
            <!-- One-->
            <div class="room-t-wrapper">
                <div class="col-lg-7 col-md-12 img-wrap">
                    <div class="img-holder"><img src="~/Content/HMS/images/room/5.jpg" alt="" class="img-responsive"></div>
                </div>
                <div class="col-lg-5 col-md-12 content">
                    <h2>Deluxe Room</h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspern atur aut odit aut fugit, sed quia consequuntur magni a voluptas sit aspernatur aut odit aut fugit, sed quiac onsequuntur magni dolores  dolores quis.</p>
                    <div class="bottom-content">
                        <div class="pull-left">
                            <p>$215<span>Per Night</span></p>
                        </div>
                        <div class="pull-right"><a href="single-room.html">view room</a></div>
                    </div>
                </div>
            </div>
            <!-- One-->
            <!-- Two-->
            <div class="room-t-wrapper room-l-wrapper">
                <div class="col-lg-5 col-md-12 content">
                    <h2>Standard Room</h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspern atur aut odit aut fugit, sed quia consequuntur magni a voluptas sit aspernatur aut odit aut fugit, sed quiac onsequuntur magni dolores  dolores quis.</p>
                    <div class="bottom-content">
                        <div class="pull-left">
                            <p>$215<span>Per Night</span></p>
                        </div>
                        <div class="pull-right"><a href="single-room.html">view room</a></div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 img-wrap">
                    <div class="img-holder"><img src="~/Content/HMS/images/room/6.jpg" alt="" class="img-responsive"></div>
                </div>
            </div>
            <!-- Two-->
            <!-- Three-->
            <div class="room-t-wrapper">
                <div class="col-lg-7 col-md-12 img-wrap">
                    <div class="img-holder"><img src="~/Content/HMS/images/room/7.jpg" alt="" class="img-responsive"></div>
                </div>
                <div class="col-lg-5 col-md-12 content">
                    <h2>Family Room</h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspern atur aut odit aut fugit, sed quia consequuntur magni a voluptas sit aspernatur aut odit aut fugit, sed quiac onsequuntur magni dolores  dolores quis.</p>
                    <div class="bottom-content">
                        <div class="pull-left">
                            <p>$215<span>Per Night</span></p>
                        </div>
                        <div class="pull-right"><a href="single-room.html">view room</a></div>
                    </div>
                </div>
            </div>
            <!-- Three-->
            <!-- Four-->
            <div class="room-t-wrapper room-l-wrapper">
                <div class="col-lg-5 col-md-12 content">
                    <h2>Economy Room</h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspern atur aut odit aut fugit, sed quia consequuntur magni a voluptas sit aspernatur aut odit aut fugit, sed quiac onsequuntur magni dolores  dolores quis.</p>
                    <div class="bottom-content">
                        <div class="pull-left">
                            <p>$215<span>Per Night</span></p>
                        </div>
                        <div class="pull-right"><a href="single-room.html">view room</a></div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 img-wrap">
                    <div class="img-holder"><img src="~/Content/HMS/images/room/8.jpg" alt="" class="img-responsive"></div>
                </div>
            </div>
            <!-- Four-->
        </div>
    </div>
</section>
<!-- Room 2 style-->
<!-- Welcome banner  style-->
