@model Labixa.Areas.Portal.ViewModels.HotelCategory.HotelCategorySubMenuViewModel
@{ var count = Model.Count + 1; }

<li class="">
    <a href="#" class="dropdown-toggle">
        <span class="menu-text">
            <i class="fa fa-building-o"></i>
            Quản lý khách sạn
            <span class="badge badge-primary ">@count</span>
        </span>
        <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu">
        
        <li class="">
            <a href="@Url.Action("Index", "Hotels")">
                <i class="menu-icon fa fa-caret-right"></i>
                Tất Cả
            </a>
            <b class="arrow"></b>
        </li>

        @foreach (var item in Model.HotelCategories)
        {
            <li class="">

                <a href="@Url.Action("Index", "Hotels", new {categoryId = item.Id})">
                    <i class="menu-icon fa fa-caret-right"></i>
                    @item.Name
                </a>
                <b class="arrow"></b>
            </li>
        }
        </ul>
</li>