@model DateTime?

@{
    string name = ViewData.TemplateInfo.HtmlFieldPrefix;
    string id = name.Replace(".", "_");
}

@if (Model.HasValue && Model != null)
{
<div class="input-group date col-md-8" style="padding: 0px">


    @Html.TextBox("", String.Format("{0:dd-MM-yyyy}", Model), new { @class = "form-control datepicker " })
    <span class="input-group-addon">
        <i class="icon-calendar bigger-110"></i>
    </span>
</div>
}
else
{
<div class="input-group  date col-md-8" style="padding: 0px">

    @Html.TextBox("", String.Format("{0:dd-MM-yyyy}", DateTime.Now.Date), new { @class = "form-control datepicker " })
    <span class="input-group-addon">
        <i class="icon-calendar bigger-110"></i>
    </span>
</div>
}

<script type="text/javascript">

    $("#@id").datepicker({
        format: "dd-MM-yyyy",
    autoclose: true
    });

</script>
