@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var imageId = "img" + ViewData.TemplateInfo.HtmlFieldPrefix;
}

<img src="@Model" id="@imageId" style="width: 200px;" alt=""/>
@Html.HiddenFor(x => x, new {@class = "col-xs-12 col-md-8 ", id = fieldName})

<a href="#" id="GetElImage" class="btn btn-success getimagefromelfinder" title="fieldName">
    <i class="icon-upload"></i>Choose Image
</a>
